
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.admin-container {
  width: 80%;
  margin: auto;
  background: rgb(173, 197, 141);
  padding: 20px;
  border-radius: 8px;
}

.admin-form input {
  padding: 8px;
  margin-right: 10px;
  width: 30%;
}

button {
  padding: 6px 12px;
  margin: 4px;
  background-color: #19a1d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #125aa3;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #e3eaf2;
}
